{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block customize %}

    {% if user %}

        <li>
            <a href="/#/post/new">Nový příspěvek</a>
        </li>

        <li>
            <a href="{{ path('logout') }}">{$ userController.user.name $}</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('login') }}">Přihlásit</a>
        </li>

    {% endif %}

    <li>

{% endblock %}

{% block content %}

    <div ng-view></div>

{% endblock %}