<!DOCTYPE html>
<html lang="en" ng-app="blog">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog / WT2</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/cvutfitbiwt1blogui/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Notification CSS -->
    <link href="{{ asset('bundles/cvutfitbiwt1blogui/css/angular-ui-notification.css') }}" rel="stylesheet">

    <!-- Loading Bar CSS -->
    <link href="{{ asset('bundles/cvutfitbiwt1blogui/css/loading-bar.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/cvutfitbiwt1blogui/css/clean-blog.min.css') }}" rel="stylesheet">

    <!-- My CSS -->
    <link href="{{ asset('bundles/cvutfitbiwt1blogui/css/my.css') }}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/angular-route.min.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/angular-resource.min.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/angular-ui-notification.min.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/app.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/cvutfitbiwt1blogui/js/services.js') }}"></script>



</head>

<body>

<div ng-controller="UserController as userController">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Domů</a>
                </li>

                {% block customize %}{% endblock %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



{% block content %}{% endblock %}


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">

                    <li>
                        <a href="https://www.facebook.com/iducan" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; WT2 | Blog 2016</p>
            </div>
        </div>
    </div>
</footer>

</div>


<!-- jQuery -->
<script src="{{ asset('bundles/cvutfitbiwt1blogui/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/cvutfitbiwt1blogui/js/bootstrap.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('bundles/cvutfitbiwt1blogui/js/clean-blog.min.js') }}"></script>

<!-- My javascript -->
<script src="{{ asset('bundles/cvutfitbiwt1blogui/js/my.js') }}"></script>

</body>
