<ul>
    <li>
        <h4>{{ comment.author.name }}, {{ comment.created | date(date_format) }}</h4>
        <p><a href="{{ path('comment_new', {id: comment.id, post_id: comment.post.id}) }}">Add</a></p>
        <p><a href="{{ path('comment_delete', {id: comment.id, post_id: comment.post.id}) }}">Delete</a></p>
        <p><a href="{{ path('comment_edit', {id: comment.id}) }}">Edit</a></p>
        <p>{{ comment.text }}</p>
        {% for child in comment.children %}
            {% include '@CvutFitBiWT1BlogUi/comment.html.twig' with {'comment' : child} %}
        {% endfor %}
    </li>
</ul>