{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}
{% block page_name %}Detail příspěvku{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url({{ asset('bundles/cvutfitbiwt1blogui/img/post-sample-image.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Detail příspěvku</h1>
                        <hr class="large">
                        <span class="subheading">Cestovat rychleji než světlo není možné a rozhodně to není žádoucí, protože člověku neustále ulétává klobouk.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <h1>{{ post.title }}</h1>
    <h4>Created: {{ post.created | date(date_format) }} Modified: {{ post.modified | date(date_format) }} Author: {{ post.author.name }}</h4>
    {% if not post.private %}
        <p>{{ post.text }}</p>
        <div class="btn">
            <a href="{{ path('post_edit', {id: post.id}) }}" class="btn btn-primary">Edit</a>
            <a href="{{ path('post_delete', {id: post.id}) }}" class="btn btn-danger">Delete</a>
        </div>
    {% else %}
        <p>Sorry, this post is private</p>
    {% endif %}
{% endblock %}

{% block comments %}
    {% if comments is not empty %}
        <section id="comments">
            <h3>Comments</h3>
            <article>
                {% for comment in comments %}
                    {% if comment.parent is empty %}
                        {% include '@CvutFitBiWT1BlogUi/comment.html.twig' %}
                    {% endif %}
                {% endfor %}
            </article>
        </section>
    {% else %}
        <p>There aren't any comments.</p>
    {% endif %}
    {% block add_comment %}
        {{  form(form_comment) }}
    {% endblock %}
{% endblock %}


{% block tags %}
        <ul id="tags">
            {% for tag in post.tags %}
                <li>{{ tag.title }}</li>
            {% endfor %}
        </ul>


{% endblock %}