{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block logout %}
{% if user %}
    <li>
        <a href="{{ path('logout') }}">Odhlásit</a>
    </li>
{% else %}
    <li>
        <a href="{{ path('login') }}">Přihlásit</a>
    </li>

{% endif %}
{% endblock %}

{% block content %}



<!-- Page Header ------------------------------------------------------------------------------------------------------------------------------>
<header class="intro-header" style="background-image: url({{ asset('bundles/cvutfitbiwt1blogui/img/home-bg.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <hr class="big">
                    <span class="subheading">Manželé se v autobuse poznají podle toho, že na sebe nemluví.</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Filter (default hidden) ------------------------------------------------------------------------------------------------------------------------------>
<div class="container" style="display: none">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {{ form(form_filter) }}

        </div>
    </div>
</div>




<!-- Main Content ------------------------------------------------------------------------------------------------------------------------------>
<div class="container posts" style="display: none">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


            {% for post in posts %}

            <div class="post-preview">


                <a href="{{ path('post_detail', {id: post.id}) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.text }}
                    </h3>
                </a>
                <p class="post-meta">{{ post.author.name }} - {{ post.created | date(date_format) }}</p>

                <ul class="pager" style="position: relative; bottom: 100px;">
                    <li class="next">
                        <a class="detail">Detail &rarr;</a>
                    </li>
                </ul>

            </div>


            <hr>

            {% endfor %}


            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>



        </div>
    </div>
</div>
<hr>

    <!-- Javascript window with detail ------------------------------------------------------------------------------------------------------------------------------>
    <div class="modal-fade"></div> <!-- prekryti obsahu polopruhlednou barvou -->
    <div class="modal"> <!-- hlavni element pro modalni okno -->
        <div class="modal-header">

            Hlavička

        </div>
        <div class="modal-body">

            Tělíčko


        </div>
    </div>



{% endblock %}