{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}
{% block page_name %}New post{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url({{ asset('bundles/cvutfitbiwt1blogui/img/contact-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Nový příspěvek</h1>
                        <hr class="large">
                        <span class="subheading">Co máš na jazyku?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{  form(form_post) }}

            </div>
        </div>
    </div>



{% endblock %}