<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
<<<<<<< HEAD
        <title>{% block title %}blogyyy{% endblock %}</title>
=======
        <title>{% block title %}Welcome!{% endblock %}</title>
>>>>>>> 8656b1a49e8e79f9212482a41b5945c87811286e
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
