<!-- Page Header -->
<header class="intro-header" ng-style="{'background-image':'url(/bundles/cvutfitbiwt1blogui/img/post-sample-image.jpg)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Upravit příspěvek</h1>
                    <hr class="large">
                    <span class="subheading">Něco je špatně?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Form -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <form>

                    <form-box></form-box>

                    <input type="submit" ng-click="editPost()" value="Uložit" class="btn btn-block btn-success" />

                </form>

                <br />



        </div>
    </div>
</div>