<!-- Page Header ------------------------------------------------------------------------------------------------------------------------------>
<header class="intro-header" ng-style="{'background-image':'url(/bundles/cvutfitbiwt1blogui/img/home-bg.jpg)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <hr class="big">
                    <span class="subheading">Manželé se v autobuse poznají podle toho, že na sebe nemluví.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Filter (default hidden) ------------------------------------------------------------------------------------------------------------------------------>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-md-offset-2">

            <a class="fa fa-search" ng-click="openSearch()"></a>

            <div ng-show="searchForm">

                <h4>Filtrování příspěvků</h4>

                Autor:
                <select ng-model="search.author">
                    <option ng-repeat="author in authors" ng-value="author.name">{$ author.name $}</option>
                </select>

                Soukromý: <input type="checkbox" ng-model="search.private" /><br />

                {$ search $}
            </div>


            <hr />

        </div>
    </div>
</div>



<!-- Main Content ------------------------------------------------------------------------------------------------------------------------------>
<div class="container posts">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div post-short ng-if="searchForm" ng-repeat="post in posts | filter: search.private | filter: search.author | dateFilter | orderBy:'-created' | startFrom:currentPage*pageSize | limitTo:pageSize"></div>
            <div post-short ng-if="!searchForm" ng-repeat="post in posts | dateFilter | orderBy:'-created' | startFrom:currentPage*pageSize | limitTo:pageSize"></div>

            <!-- Pager -->
            <ul class="pager">


                <li class="previous">
                    <a ng-click="currentPage=currentPage-1">&larr; Newer Posts</a>
                </li>

                {$ currentPage $}

                <li class="next">
                    <a ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Older Posts &rarr;</a>
                </li>

            </ul>

        </div>
    </div>
</div>
<hr>


