<!-- Page Header ------------------------------------------------------------------------------------------------------------------------------>
<header class="intro-header" ng-style="{'background-image':'url(/bundles/cvutfitbiwt1blogui/img/post-sample-image.jpg)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Detail příspěvku</h1>
                    <hr class="big">
                    <span class="subheading">Cestovat rychleji než světlo není možné a rozhodně to není žádoucí, protože člověku neustále ulétává klobouk.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">

    <!--Post Detail-->
    <div class="row">
        <h1>{$ post.title $}</h1>
        <h4>Created: {$ post.created | date: 'd.M.yyyy' $} Modified: {$ post.modified | date: 'd.M.yyyy' $} Author: {$ post.author.name $}</h4>
        <p>{$ post.text $}</p>
    </div>

    <!--Comments-->
    <div class="row postFeaturesBox" ng-controller="CommentNewController">


        <h4>Komentáře</h4>

        <br />

        <div comments-box ng-repeat="comment in comments | orderBy:'created' | startFrom:currentPage*pageSize | limitTo:pageSize"></div>

        <!-- Pager -->
        <ul class="pager">


            <li class="previous">
                <a ng-click="currentPage=currentPage-1">&larr;</a>
            </li>

            {$ currentPage $}

            <li class="next">
                <a ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">&rarr;</a>
            </li>

        </ul>

        <br />

        <!--Add comment-->
        <div>

            <form>

                <input type="text" class="form-control" ng-model="comment.text" ng-keydown="$event.which === 13 && addComment()"/>

            </form>

        </div>


    </div>

    <!--Files-->
    <div class="row postFeaturesBox">


        <h4>Přílohy</h4>

        <br />

        <div files-box ng-repeat="file in files" ng-controller="FileDeleteController"></div>

        <br />



    </div>

    <!--Buttons-->
    <div class="row">

        <div class="col-md-4">

            <a href="#/posts" class="btn btn-default">Zpět</a>
        </div>

        <div class="col-md-4 col-md-offset-4" ng-if="userController.user.name != 'Guest'">

            <a href="#/post/edit/{$ post.id $}" class="btn btn-primary">Edit</a>
            <a href="#/post/delete/{$ post.id $}" class="btn btn-danger">Delete</a>

        </div>
    </div>

    </div>

    <!--{% block comments %}
    {% if comments is not empty %}
    <section id="comments">
        <h3>Comments</h3>
        <article>
            {% for comment in comments %}
            {% if comment.parent is empty %}
            {% include '@CvutFitBiWT1BlogUi/comment.html.twig' %}
            {% endif %}
            {% endfor %}
        </article>
    </section>
    {% else %}
    <p>There aren't any comments.</p>
    {% endif %}
    {% block add_comment %}
    {$  form(form_comment) $}
    {% endblock %}
    {% endblock %}


    {% block tags %}
    <ul id="tags">
        {% for tag in post.tags %}
        <li>{$ tag.title $}</li>
        {% endfor %}
    </ul>-->

</div>
