{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}
{% block page_name %}Přihlášení{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <header class="intro-header" style="background-image: url({{ asset('bundles/cvutfitbiwt1blogui/img/about-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Přihlášení</h1>
                        <hr class="large">
                        <span class="subheading">Neboj se vyplnit své jméno</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <form action="{{ path('login') }}" method="post">

                    <div class="form-group">
                        <input type="text" name="_username" class="form-control input-lg" placeholder="Jméno" required /> <br />
                        <input type="password" name="_password" class="form-control input-lg" placeholder="Heslo" required />
                        <br /><br />
                    </div>

                    <!--If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />-->

                    <input type="submit" value="Přihlásit" class="btn btn-default btn-block" />

                </form>

            </div>
        </div>
    </div>


{% endblock %}
