<div ng-controller="CommentEditController">
    <div ng-controller="CommentDeleteController">
        <span>
            <b>{$ comment.author.name $}</b> ({$ comment.created | date: 'short' $}): {$ comment.text $}

            <a class="fa fa-pencil-square-o" aria-hidden="true" ng-click="editComment()"></a>
            <a class="fa fa-trash-o" aria-hidden="true" ng-click="deleteComment()"></a>

        </span>

        <span class="pull-right" ng-repeat="file in files" ng-if="file.comment.id == comment.id">
            <b>{$ file.name $}</b> ({$ file.internet_media_type $}): {$ file.data $}

            <a class="fa fa-trash-o" aria-hidden="true" ng-click="deleteFile()" ng-controller="FileDeleteController"></a>
        </span>

        <input type="text" class="form-control" ng-style="editCommentField" ng-model="comment.text" ng-keydown="$event.which === 13 && updateComment()"/>
    </div>
</div>


