<div>
    <span>
        <b>{$ file.name $}</b> ({$ file.internet_media_type $}): {$ file.data $}

        <a class="fa fa-trash-o" aria-hidden="true" ng-click="deleteFile()"></a>

        <!--<input type="text" class="form-control" ng-style="editCommentField" ng-model="comment.text" ng-keydown="$event.which === 13 && updateComment()"/>-->
    </span>
</div>



