Titulek:        <input type="text" ng-model="post.title" class="form-control" required /><br />
Text:           <textarea ng-model="post.text" rows="5" class="form-control" required ></textarea><br />
Soukromý:       <input type="checkbox" ng-model="post.private" /><br />
Platnost od:    <input type="date" ng-model="post.publishFrom"/><br />
Platnost do:    <input type="date" ng-model="post.publishTo" /><br /><br />
Příloha:        <input type="file" ng-model="post.file" /><br /><br />