<div ng-if="!(post.private && userController.user.name == 'Guest')">

    <div class="post-preview" id="content">

        <a href="#/posts/{$ post.id $}"><h2>{$ post.title $}</h2></a>
        <span class="tag" ng-repeat="tag in post.tags">{$ tag.title $}</span>
        <span>{$ post.author.name $} - {$ post.created | date: 'mediumDate' $}</span>
        <span ng-if="post.comments.length > 0">| Komentáře: {$ post.comments.length $}</span>
        <span> | Soukromé: {$ post.private $} </span>
        <p>{$ post.text $}</p>

        <hr>

    </div>

</div>
