/** insert your styles here **/

/** layout **/
h1, h2, h3{
    font-size: 2em;
    font-family: serif;
    margin-top: 2%;
}
body {
    font-size: 0.625em;
}
header{
    width: 90%;
}
img {
    width: 20%;
    display: inline;
}
nav{
    width: 60%;
    float: right;
    font-size: 2em;
}
nav li {
    display: inline;
    margin-right: 2%;
}

#content { overflow: hidden; }
.content-left { width: 80%; float: left; font-size: 1.25em}
.content-right { width: 10%; float: right; padding-top: 2%}
.content-right li {
    list-style: none;
    padding-top: 2%;
    font-size: 1.5em;
}
footer {
    margin: auto;
}

.container {
    max-width: 95%;
    min-width: 700px;
    margin: auto;
    text-align: justify;
}
article img{
    width: 100%;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
}



.btn a {
    display: inline;
}
.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
    display: block;
}

.btn-primary:hover {
    background: #25b08d;
    text-decoration: none;
}
.btn-secondary:hover {
    background: #25b08d;
    text-decoration: none;
}
.btn-primary{
    background: #29cc7d;
}
.btn-secondary {
    background: #6fbd96;
}
