.modal-fade { position: fixed; z-index: 99999; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.3); }
.modal { position: fixed; z-index: 99999; left:10%; top: 30%; bottom: 30%;width: 50%; background-color: #fff; border-radius: 20px; margin: 0px 15%; box-shadow: 0px 0px 10px rgba(0,0,0,0.4); }
.modal-header { border-bottom: 1px solid #ccc; }
.modal-header, .modal-body { padding: 1em 2em; }
.modal-fade, .modal { display: none; /** modal is hidden by default **/ }

.postFeaturesBox {

    border: dotted 1px black;
    font-size: 70%;
    padding: 20px;
    margin: 5%;

}
